/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.1
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

@media screen and ( max-width:479px )
{
	a
	{
		color: #f00 ;	/* 赤色 */
	}
}
@media screen and ( min-width:480px )
{
    .glo_nav{
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 22opx;
    }
    
    nav{
        margin: 250px 30px;
    }
    .glo_nav nav ul li a{
        color: #343434;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 30px;
        text-decoration: none;
        display: block;
        box-sizing: border-box;
    }
    .glo_nav nav ul li a:hover{
        color: #898989;
        
    }
    .content{
        position: absolute;
        top: 0;
        left: 220px;
        width: 100%;
    }
    .content h1{
        display: none;
        color: #4c9fa8;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 200px;
        left: 70%;
        cursor: pointer;
    }
    .content h1.move{
        display: none;
        left: 50%;
        transition: 3s;
        transition-timing-function: ease-in-out;
    }
    
}
